section.heading {
    @extend .flex;
    text-align: center;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;

    .wrapper {
        @extend .flex;
        @extend .flex--wrap;
        @extend .flex--center;
        @extend .section--container;
        @extend .section--padding;
        padding-top: 3rem;
        padding-bottom: 3rem;
        @media (max-width: 767px) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        .item {
            @extend .flex;
            flex: 0 1 100%;
            .box {
                width: 100%;
                @extend .flex--center;
            }
        }
    }

    .title {
        @extend .section--title;
        text-transform: uppercase;
        color: $secondary-color;
        letter-spacing: 0.2rem;

    }

}