$grey-light:    #f2f2f2;
$grey:          #666666;
$grey-dark:     #808080;
$green-light:   #62927c;
$green:         #306f52;
$green-dark:    #007352;
$gold:          #d6ce8d;

$primary-color: $green;
$secondary-color: $gold;

$navbar-color: $primary-color;
$footer-color: $green-dark;

$border-color: #b3b3b3;