.lightbox {
    @extend .transition-basic;
    @extend .flex;
    position: fixed;
    z-index: -9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 0;
    // transform: translateY(100%);
    &.active {
        z-index: 9998 !important;
        opacity: 1;
        top: 0;
        // transform: translateY(0%);
    }
}
